<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/orange/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../js/validate.js"></script>
	<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
	<script type="text/javascript">
		var id_user_id="";
	var pageId = 'cip_admin_user_form';
	var appId = '/ydems';
	var actionUrl;
	var actionId;
	var tableId;
	var mode = "";
	var callUrl;
	var getUrl = "/ydems/actions/admin_user/getData.do?actionId=cip_admin_user_getData";
	var formTemplate = "#form_cip_admin_user";
	var listId = "cip_admin_user_list";
	var ddicUrl = '/ydems/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
	var editHistoryData = null;
	
	var urlResource = "/ydems/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
	var urlActionForm = ""; //action form url
	var authActions = {}; //当前用户授权的行为项目
	var expellActions = {};
	
	
	$(function(){
		init();
		//保存按钮单击事件
		$("#btn_save").bind("click", function() {
			submitData();
		});
		//取消按钮单击事件
		$("#btn_cancel").bind("click", function(){
			$$.closeJcdfDialog();
		});
	});

	function init(){
		id_user_id=$$.QueryString("user_id");
		actionUrl = $$.QueryString("actionUrl");
		tableId = $$.QueryString("tableId");
		mode = $$.QueryString("mode");
		actionId = $$.QueryString("refActionId");
		
		loadCombobox('pwd_init_flag','pwd_init_flag');
loadCombobox('pwd_reset_flag','pwd_reset_flag');
loadCombobox('user_status','user_status');
loadCombobox('user_type','user_type');

		callUrl = actionUrl+"?actionId="+actionId;
		if(mode=="edit"){
			loadEditData();
			$('#user_id').attr({editable:false});
		}else if(mode=="display"){
			loadEditData();
			$('#btn_save').attr({ "disabled": "disabled" });
		}
		else if( mode == "add" ){
			
			 $('#start_date').datebox('setValue', getDate());
 $('#end_date').datebox('setValue', getDate());
 $('#pwd_init_flag').combobox('setValue', '');
 $('#pwd_set_time').datetimebox('setValue', getTimeStamp());
 $('#pwd_reset_flag').combobox('setValue', '');
 $('#user_status').combobox('setValue', '');
 $('#user_type').combobox('setValue', '');

		}

	};
	
	
	/**
	 * 加载历史数据，用于修改
	 */
	function loadEditData(){
		$$.openProcessingDialog();
		var jsonData = {
		"user_id":id_user_id
		};
		$.ajax({
		   type: "POST",
		   url: getUrl,
		   dataType:"json",
		   contentType: "application/json",
		   data: JSON.stringify(jsonData),
		   success: function(oData){
		   	 	$$.closeProcessingDialog();
				if (oData!=null && oData.errorCode == 0) {
					editHistoryData = oData.data;
					//填充修改记录的历史数据
					$(formTemplate).form('load', editHistoryData);					
				} else {
		 			$$.showJcdfMessager('提示消息',oData.msg,'warning');
				}
		   }
		});
	}
	
	function submitData(){
		if (!$(formTemplate).form('validate')) {
			return false;
		}
		var jsonData = $$.serializeToJson(formTemplate);
		if(!jsonData) return false;
		//如果数据验证通过(即数据合法)
		$$.openProcessingDialog();
	
		//ajax提交数据
		$.ajax({
			type : "POST",
			url : callUrl,
			dataType : "json",
			data : JSON.stringify(jsonData),
			contentType: "application/json",
			success : function(data) {
				$$.closeProcessingDialog();
				if (data && data.errorCode==0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
					$$.closeJcdfDialog();
					$$.refreshJcdfDatagrid(tableId);
				} else {
					$$.showJcdfMessager('提示消息', data.msg+'('+data.errorCode+')', 'warning');
				}
			}
		});
	};
	</script>
</head>
<body>
	<form id="form_cip_admin_user" class="form">
		<table>
			<tr>
				<td class="right">
					<label for="">用户id:</label>
				</td>
				<td class="left">
					<input type="text" id="user_id" name="user_id" style="width:70%;" class="easyui-validateBox" 
						data-options="required:true" /> 

				</td>
			</tr>
		
			<tr>
				<td class="right">
					<label for="user_name">用户名称:</label>
				</td>
				<td class="left">
					<input type="text" id="user_name" name="user_name" style="width:70%;" class="easyui-validateBox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="start_date">开始时间:</label>
				</td>
				<td class="left">
					<input type="text" id="start_date" name="start_date" style="width:70%;" class="easyui-datebox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="end_date">结束时间:</label>
				</td>
				<td class="left">
					<input type="text" id="end_date" name="end_date" style="width:70%;" class="easyui-datebox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="user_pwd">密码:</label>
				</td>
				<td class="left">
					<input type="password" id="user_pwd" name="user_pwd" style="width:70%;" class="" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="pwd_init_flag">初始密码标识:</label>
				</td>
				<td class="left">
					<input type="text" id="pwd_init_flag" name="pwd_init_flag" style="width:70%;" class="easyui-combobox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="user_his1_pwd">历史密码1:</label>
				</td>
				<td class="left">
					<input type="password" id="user_his1_pwd" name="user_his1_pwd" style="width:70%;" class="" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="user_his2_pwd">历史密码2:</label>
				</td>
				<td class="left">
					<input type="password" id="user_his2_pwd" name="user_his2_pwd" style="width:70%;" class="" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="user_his3_pwd">历史密码3:</label>
				</td>
				<td class="left">
					<input type="password" id="user_his3_pwd" name="user_his3_pwd" style="width:70%;" class="" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="pwd_set_time">密码设置时间:</label>
				</td>
				<td class="left">
					<input type="text" id="pwd_set_time" name="pwd_set_time" style="width:70%;" class="easyui-datetimebox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="pwd_reset_days">密码重置天数:</label>
				</td>
				<td class="left">
					<input type="" id="pwd_reset_days" name="pwd_reset_days" style="width:70%;" class="easyui-numberbox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="pwd_reset_flag">重置密码标识:</label>
				</td>
				<td class="left">
					<input type="text" id="pwd_reset_flag" name="pwd_reset_flag" style="width:70%;" class="easyui-combobox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="user_status">用户状态:</label>
				</td>
				<td class="left">
					<input type="text" id="user_status" name="user_status" style="width:70%;" class="easyui-combobox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="user_type">用户类型:</label>
				</td>
				<td class="left">
					<input type="text" id="user_type" name="user_type" style="width:70%;" class="easyui-combobox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="person_id">使用人id:</label>
				</td>
				<td class="left">
					<input type="text" id="person_id" name="person_id" style="width:70%;" class="easyui-validateBox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="org_id">使用机构id:</label>
				</td>
				<td class="left">
					<input type="text" id="org_id" name="org_id" style="width:70%;" class="easyui-validateBox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="position_id">岗位id:</label>
				</td>
				<td class="left">
					<input type="text" id="position_id" name="position_id" style="width:70%;" class="easyui-validateBox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
		
			<tr>
				<td colspan="2" align="center" style="padding: 20px;">
					<a id="btn_save" href="#" class="easyui-linkbutton" iconCls="icon-ok">确定</a>
					<a id="btn_cancel" href="#" class="easyui-linkbutton" iconCls="icon-cancel">取消</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>