<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/orange/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../js/validate.js"></script>
	<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
	<script type="text/javascript">
		var objectName = '数据域信息';
		var listTemplate = '#cip_admin_domain_grid_list';
		var listId = "cip_admin_domain_grid_list";
		var formSearchTemplate = '#cip_admin_domain_searchForm';
		var searchFormId = "cip_admin_domain_searchForm";
		var gridMenuId = '#cip_admin_domain_grid_menu';
		var addFormUrl = 'admin/cip_admin_domain_form.html?mode=add';
		var updateFormUrl = 'admin/cip_admin_domain_form.html?mode=edit';
		var urlSearch = '/ydt6f2/actions/admin_domain/searchData.do';
		var ddicUrl = '/ydt6f2/actions/common/domain/getDomains.do?domainId=';
		var pageId = 'cip_admin_domain_list';
		var appId = '/ydt6f2';
		var urlResource = "/ydt6f2/actions/common/user/getResources.do?resource_id=";
		var urlActionForm = ""; //action form url
		var authActions = {}; //当前用户授权的行为项目
		var expellActions = {
			admin_domain_searchData:urlSearch
		}; //当前用户需要特殊处理的按钮，不在menubar上显示的 
		
		var today = getToday();
		$(function(){
			//loadCompanyCombobox();
			//loadCombobox();
			getAuthButtons(pageId,gridMenuId,authActions,expellActions);
			loadDatagrid();
		});
		
		function doAction(pageId,buttonId,actionUrl){
			if(authActions.hasOwnProperty(buttonId)){
				if(buttonId.indexOf('addData')>0){
					addData(appId+actionUrl);
				}
				else if(buttonId.indexOf('updateData')>0){
					updateData(appId+actionUrl);
				}
				else if(buttonId.indexOf('deleteData')>0){
					deleteData(appId+actionUrl);
				}
				else if(buttonId.indexOf('searchData')>0){
					searchData(appId+actionUrl);
				}
				if(buttonId=='cash_account_addData'){
					addData(appId+actionUrl);
				}
				else if(buttonId=='cash_account_updateData'){
					editData(appId+actionUrl);
				}
				else {
					//默认操作
					var selectRow = $$.getSingleSelectRow(listId, "请选择你要操作的"+objectName);

			    	if(selectRow){
						var tempUrl = '';
   						tempUrl = tempUrl+'&domain_id='+selectRow.domain_id;
		   				tempUrl += "&actionUrl="+appId+actionUrl+"&tableId="+listId;
			    		$$.openJcdfDialog(urlActionForm+tempUrl, '操作'+objectName, 500, 600);
			    	}					
				}
			}
			else {
				alert('当前用户没有该操作授权!');
			}
		}
		
		function searchData(actionUrl){
			var params = $$.serializeToJson(formSearchTemplate);
			var json = { "search_condition" : JSON.stringify(params) };
			$(listTemplate).datagrid('load', json );		
		};

		
		function searchReset(){
			$(formSearchTemplate).form('reset');
		};
		
		
		function addData(actionUrl){
	   		$$.openJcdfDialog(addFormUrl+"?actionUrl="+actionUrl+"&tableId="+listId, '新增'+objectName, 500, 600);
		};
		
		function deleteData(actionUrl){
			var selectRow = $$.getSingleSelectRow(listId, "请选择你要删除的"+objectName);
	    	if(selectRow){
	    		$$.showJcdfConfirm("确认", "确定删除所选的手工账?", 'deleteNoteById("'+actionUrl+'","+selectRow+")');
	    	}
		};
		
		function deleteNodeById(actionUrl,selectRow){
			$$.openProcessingDialog();
			var jsonData = {
   				'&domain_id':selectRow.domain_id
			};
			$.ajax({
			   type: "POST",
			   url: actionUrl,
			   dataType:"json",
			   data : JSON.stringify(jsonData),
			   contentType: "application/json",
			   success: function(data){
			   	 	$$.closeProcessingDialog();
					if (data && data.errorCode == 0) {
						$$.showJcdfMessager('提示消息', '操作成功', 'info');
						$$.refreshJcdfDatagrid(listId);
					} else {
						$$.showJcdfMessager('提示消息', data.msg, 'warning');
					}
			   }
			});
		};
		
		function updateData(actionUrl){
	    	var selectRow = $$.getSingleSelectRow(listId, "请选择你要编辑的"+objectName);

	    	if(selectRow){
				var tempUrl = '';
   				tempUrl = tempUrl+'&domain_id='+selectRow.domain_id;
   				tempUrl += "&actionUrl="+actionUrl+"&tableId="+listId;
	    		$$.openJcdfDialog(updateFormUrl+tempUrl, '编辑'+objectName, 500, 600);
	    	}
		};
	
				
		/**
		 * 页面加载时初始化datagrid列表并加载列表数据进行显示
		 */
		function loadDatagrid() {
			$(listTemplate).datagrid({
				title:objectName+'列表',
				height:$$.getDatagridHeight(),
				width:$$.getDatagridWidth(),
				border: true,
				nowrap: true,
				striped: true,
				fitColumns: true,
				url:urlSearch,
				idField:'',
				columns:[[
						{field:'domain_id',title:'数据域id',width:$$.fillsize(0.1),align:'center'},
						{field:'domain_name',title:'数据域名称',width:$$.fillsize(0.1),align:'center'},
						{field:'domain_type',title:'数据域类型',width:$$.fillsize(0.1),align:'center'},
						{field:'is_null_flag',title:'允许为空标识',width:$$.fillsize(0.1),align:'center'},
						{field:'data_length',title:'数据长度',width:$$.fillsize(0.1),align:'center'},
						{field:'default_value',title:'默认值',width:$$.fillsize(0.1),align:'center'},
						{field:'float_length',title:'小数位长度',width:$$.fillsize(0.1),align:'center'},
						{field:'data_type',title:'数据类型',width:$$.fillsize(0.1),align:'center'},
						{field:'create_time',title:'创建时间',width:$$.fillsize(0.1),align:'center'},
						{field:'update_time',title:'修改时间',width:$$.fillsize(0.1),align:'center'},
						{field:'operator',title:'操作人员',width:$$.fillsize(0.1),align:'center'},
						{field:'resp_id',title:'责任人',width:$$.fillsize(0.1),align:'center'},
						{field:'domain_desc',title:'数据域描述',width:$$.fillsize(0.1),align:'center'},
						{field:'ref_table_id',title:'参考引用数据表',width:$$.fillsize(0.1),align:'center'},
						{field:'ref_domain_id',title:'引用数据域id',width:$$.fillsize(0.1),align:'center'},
						{field:'domain_type_name',title:'数据域类型名称',width:$$.fillsize(0.1),align:'center'},
						{field:'is_null_flag_name',title:'允许为空标识名称',width:$$.fillsize(0.1),align:'center'},
						{field:'data_type_name',title:'数据类型名称',width:$$.fillsize(0.1),align:'center'},
				]],
				onBeforeLoad:function(){$$.clearSelect(listId);},
				queryParams:$$.serializeToJson(searchFormId),
				pagination:true,
				rownumbers:true,
				singleSelect:true,
				pageSize : $$.pageSize,
				pageList : $$.pageList,
				toolbar: gridMenuId,
				loadFilter: function(data){
					if (data!=null && data.errorCode>0){
						if(data.msg!=null && data.msg!=""){
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
					}
					return data; 
				}
			});
		}
	</script>
</head> 
<body class="easyui-layout">
	<div data-options="region:'north', split:false, border:false" style="padding: 4px 0;">
		<fieldset style="padding: 5px; border: 1px solid #d4a375;">
			<legend>信息查询</legend>
			<form id="cip_admin_domain_searchForm" class="search-form" method="post">
				<table cellpadding="2" style="width: 100%">
					<tr>
						<td align="right">数据域id：</td>
						<td>
							<input type="text" id="domain_id" name="domain_id" style="width:70%;" class="easyui-validateBox"
							data-options="" 
							 /> 
						
						</td>

					<tr>
						<td colspan="8" align="center" >
							<a class="easyui-linkbutton" iconCls="icon-search" style="margin-right: 20px;" onclick="searchData()">查询</a>
							<a class="easyui-linkbutton" iconCls="icon-reload" style="margin-right: 20px;" onclick="searchReset()">重置</a>
							<a class="easyui-linkbutton" iconCls="icon-download" style="margin-right: 20px;" onclick="export_excel()">导出</a>
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
	<div data-options="region:'center', split:false, border:false" style="padding: 0 2px;">
		<div id="cip_admin_domain_grid_menu">
			<div style="padding: 5px;">
		<!--		<a id="button_add" href="#" onclick="addData()" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
				<a id="button_edit" href="#" onclick="editData()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑</a>
				<a id="button_delete" href="#" onclick="delateData()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a> -->
			</div>
		</div>
		<table id="cip_admin_domain_grid_list" fit="true"></table>
	</div>
</body>
</html>