<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/orange/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../js/validate.js"></script>
	<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
	<script type="text/javascript">
		var objectName = '角色权限值配置';
		var listTemplate = '#cip_admin_auth_role_list';
		var listId = "cip_admin_auth_role_list";
		var formSearchTemplate = '#cip_admin_auth_role_searchForm';
		var searchFormId = "cip_admin_auth_role_searchForm";
		var gridMenuId = '#cip_admin_auth_role_list_menu';
		var addFormUrl = 'admin/cip_admin_auth_role_form.html?actionId=cip_admin_auth_role_form&mode=add';
		var updateFormUrl = 'admin/cip_admin_auth_role_form.html?actionId=cip_admin_auth_role_form&mode=edit';
		var getFormUrl = 'admin/cip_admin_auth_role_form.html?actionId=cip_admin_auth_role_form&mode=display';
		var urlSearch = '/ydems/actions/admin_auth_role/searchData.do?actionId=cip_admin_auth_role_searchData';
		var urlExport= '/ydems/actions/admin_auth_role/exportEntities.do?actionId=cip_admin_auth_role_exportEntities';
		var ddicUrl = '/ydems/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
		var pageId = 'cip_admin_auth_role_list';
		var appId = '/ydems/';
		var urlResource = "/ydems/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
		var urlActionForm = ""; //action form url
		var authActions = {}; //当前用户授权的行为项目
		var expellActions = {
			"cip_admin_auth_role_searchData":urlSearch,
			"cip_admin_auth_role_exportEntities":urlExport
		}; //当前用户需要特殊处理的按钮，不在menubar上显示的 
		
		var today = getToday();
		$(function(){
			//loadCompanyCombobox();
			//loadCombobox();
			getAuthButtons(pageId,gridMenuId,authActions,expellActions);
			loadDatagrid();
		});
		
		function doAction(pageId,buttonId,actionUrl){
			if(authActions.hasOwnProperty(buttonId)){
				if(buttonId.indexOf('addData')>0){
					addData(buttonId,appId+actionUrl);
				}
				else if(buttonId.indexOf('updateData')>0){
					updateData(buttonId,appId+actionUrl);
				}
				else if(buttonId.indexOf('deleteData')>0){
					deleteData(buttonId,appId+actionUrl);
				}
				else if( buttonId.indexOf('getData')>0){
					getData(buttonId,appId+actionUrl);
				}
				else if(buttonId.indexOf('searchData')>0){
					searchData(buttonId,appId+actionUrl);
				}
				else if(buttonId.indexOf('refresh')>0){
					refresh(buttonId,appId+actionUrl);
				}
				else {
					//默认操作
					var selectRow = $$.getSingleSelectRow(listId, "请选择你要操作的"+objectName);

			    	if(selectRow){
						var tempUrl = '';
   						tempUrl = tempUrl+'&auth_attr_id='+selectRow.auth_attr_id;
   						tempUrl = tempUrl+'&auth_role_id='+selectRow.auth_role_id;
		   				tempUrl += "&actionUrl="+appId+actionUrl+"&tableId="+listId+"&refActionId="+buttonId;
			    		$$.openJcdfDialog(urlActionForm+tempUrl, '操作'+objectName, 500, 600);
			    	}					
				}
			}
			else {
				alert('当前用户没有该操作授权!');
			}
		};
		
		function refresh(buttonId,actionUrl){
			$.ajax({
				   type: "POST",
				   url: actionUrl+"?actionId="+buttonId,
				   dataType:"json",
				   success: function(data){
				   	 	$$.closeProcessingDialog();
						if (data && data.errorCode == 0) {
							$$.showJcdfMessager('提示消息', '操作成功', 'info');
						} else {
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
				   }
			});
		};
		
		function searchData(buttonId,actionUrl){
			var params = $$.serializeToJson(formSearchTemplate);
			var json = { "search_condition" : JSON.stringify(params) };
			$(listTemplate).datagrid('load', json );		
		};
		
		function exportExcel(buttonId,actionUrl){
			var params = $$.serializeToJson(formSearchTemplate);
			$('#'+searchFormId).form('submit',{    
			    url:actionUrl,    
			    onSubmit: function(param){
			    	param.search_condition = JSON.stringify(params)
			    },
			    success: function(data){   
			    	var oData = JSON.parse(data);
			        if (oData&&oData.errorCode){   
			        	$$.showJcdfMessager('提示消息', oData.msg, 'warning');   
			        }    
			    } 
			}); 		
		};
		
		
		function searchReset(){
			$(formSearchTemplate).form('reset');
		};
		
		
		function addData(buttonId,actionUrl){
	   		$$.openJcdfDialog(addFormUrl+"&actionUrl="+actionUrl+"&tableId="+listId+"&refActionId="+buttonId, '新增'+objectName, 500, 600);
		};
		
		function getData(buttonId,actionUrl){
			var selectRow = $$.getSingleSelectRow(listId, "请选择你要查看的"+objectName);

	    	if(selectRow){
				var tempUrl = '';
   				tempUrl = tempUrl+'&auth_attr_id='+selectRow.auth_attr_id;
   				tempUrl = tempUrl+'&auth_role_id='+selectRow.auth_role_id;
   				tempUrl += "&actionUrl="+actionUrl+"&tableId="+listId+"&refActionId="+buttonId;
	    		$$.openJcdfDialog(getFormUrl+tempUrl, '查看'+objectName, 500, 600);
	    	}
		};
		
		function deleteData(buttonId,actionUrl){
			var selectRow = $$.getSingleSelectRow(listId, "请选择你要删除的"+objectName);
	    	if(selectRow){
	    		$$.showJcdfConfirm("确认", "确定删除所选的"+objectName+"?", "deleteNodeById('"+buttonId+"','"+actionUrl+"','"+selectRow.auth_attr_id+"','"+selectRow.auth_role_id+"')");
	    	}
		};
		
		function deleteNodeById(buttonId,actionUrl,auth_attr_id,auth_role_id){
			$$.openProcessingDialog();
			var jsonData = {
			   				"auth_attr_id":auth_attr_id,
			   				"auth_role_id":auth_role_id
						};
			$.ajax({
			   type: "POST",
			   url: actionUrl+"?actionId="+buttonId,
			   dataType:"json",
			   data : JSON.stringify(jsonData),
			   contentType: "application/json",
			   success: function(data){
			   	 	$$.closeProcessingDialog();
					if (data && data.errorCode == 0) {
						$$.showJcdfMessager('提示消息', '操作成功', 'info');
						$$.refreshJcdfDatagrid(listId);
					} else {
						$$.showJcdfMessager('提示消息', data.msg, 'warning');
					}
			   }
			});
		};
		
		function updateData(buttonId,actionUrl){
	    	var selectRow = $$.getSingleSelectRow(listId, "请选择你要编辑的"+objectName);

	    	if(selectRow){
				var tempUrl = '';
   				tempUrl = tempUrl+'&auth_attr_id='+selectRow.auth_attr_id;
   				tempUrl = tempUrl+'&auth_role_id='+selectRow.auth_role_id;
   				tempUrl += "&actionUrl="+actionUrl+"&tableId="+listId+"&refActionId="+buttonId;
	    		$$.openJcdfDialog(updateFormUrl+tempUrl, '编辑'+objectName, 500, 600);
	    	}
		};
	
				
		/**
		 * 页面加载时初始化datagrid列表并加载列表数据进行显示
		 */
		function loadDatagrid() {
			$(listTemplate).datagrid({
				title:objectName+'列表',
				height:$$.getDatagridHeight(),
				width:$$.getDatagridWidth(),
				border: true,
				nowrap: true,
				striped: true,
				fitColumns: true,
				url:urlSearch,
				idField:'',
				columns:[[
						{field:'auth_attr_id',title:'权限属性id',width:$$.fillsize(0.1),align:'center'},
						{field:'auth_role_id',title:'角色Id',width:$$.fillsize(0.1),align:'center'},
						{field:'auth_attr_val',title:'权限属性值',width:$$.fillsize(0.1),align:'center'},
				]],
				onBeforeLoad:function(){$$.clearSelect(listId);},
				queryParams:$$.serializeToJson(searchFormId),
				pagination:true,
				rownumbers:true,
				singleSelect:true,
				pageSize : $$.pageSize,
				pageList : $$.pageList,
				toolbar: gridMenuId,
				loadFilter: function(data){
					if (data!=null && data.errorCode>0){
						if(data.msg!=null && data.msg!=""){
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
					}
					return data; 
				}
			});
		}
	</script>
</head> 
<body class="easyui-layout">
	<div data-options="region:'north', split:false, border:false" style="padding: 4px 0;">
		<fieldset style="padding: 5px; border: 1px solid #d4a375;">
			<legend>信息查询</legend>
			<form id="cip_admin_auth_role_searchForm" class="search-form" method="post">
				<table cellpadding="2" style="width: 100%">
					<tr>
						<td align="right">权限属性id：</td>
						<td>
							<input type="text" id="auth_attr_id" name="auth_attr_id" style="width:70%;" class="easyui-validateBox"
							data-options="" 
							 /> 
						
						</td>
						<td align="right">角色Id：</td>
						<td>
							<input type="text" id="auth_role_id" name="auth_role_id" style="width:70%;" class="easyui-validateBox"
							data-options="" 
							 /> 
						
						</td>

					<tr>
						<td colspan="8" align="center" >
							<a class="easyui-linkbutton" iconCls="icon-search" style="margin-right: 20px;" onclick="searchData('cip_admin_auth_role_searchData',urlSearch)">查询</a>
							<a class="easyui-linkbutton" iconCls="icon-reload" style="margin-right: 20px;" onclick="searchReset()">重置</a>
							<a class="easyui-linkbutton" iconCls="icon-download" style="margin-right: 20px;" onclick="exportExcel('cip_admin_auth_role_exportEntities',urlExport)">导出</a>
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
	<div data-options="region:'center', split:false, border:false" style="padding: 0 2px;">
		<div id="cip_admin_auth_role_list_menu">
			<div style="padding: 5px;">
		<!--		<a id="button_add" href="#" onclick="addData()" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
				<a id="button_edit" href="#" onclick="editData()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑</a>
				<a id="button_delete" href="#" onclick="delateData()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a> -->
			</div>
		</div>
		<table id="cip_admin_auth_role_list" fit="true"></table>
	</div>
</body>
</html>