<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="../../js/jquery-easyui/themes/orange/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../../js/jquery-easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="../../css/common.css" />
<script type="text/javascript"
	src="../../js/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/validate.js"></script>
<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
<script type="text/javascript">
	var objectName = "设备信息维护";
	/*显示数据的table的id*/
	var listTemplate = '#em_parameter_list';
	var listId = "em_parameter_list";
	/*用来进行form表单查询的id*/
	var formSearchTemplate = '#em_parameter_searchForm';
	//用来查询的form表单id
	var searchFormId = "em_parameter_searchForm";
	/*用来显示按钮区域的div的id*/
	var gridMenuId = '#em_parameter_menu';
	/*updateFormUrl：跳转到更新设备的form表单*/
	var updateFormUrl = 'code/ems_parameter_form.html?actionId=ems_parameter_form&mode=edit';
	/*获取选中的具体信息*/
	var getFormUrl = 'code/ems_parameter_form.html?actionId=ems_parameter_form&mode=display';
	var urlSearch = '/ydems/actions/parameter/searchData.do?actionId=ems_parameter_searchData';
	var urlEquipSearch = '/ydems/actions/parameter/searchData.do?actionId=ems_parameter_searchData';
	var urlExport = '/ydems/actions/parameter/exportEntities.do?actionId=ems_parameter_exportEntities';
	var addEquipFormUrl = 'code/ems_parameter_form.html?actionId=ems_parameter_form&mode=addEquip';
	var ddicUrl = '/ydems/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
	//pageId用来标示该页面 在数据库中的resource_id
	var pageId = 'ems_parameter_list';
	var appId = '/ydems/';
	/*urlResource可以获取按钮及对应的页面的初始数据内容*/
	var urlResource = "/ydems/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
	/* var urlActionForm = "code/ems_code_type_action_form.html?actionId=ems_code_type_action_form"; //action form url */
	var authActions = {}; //当前用户授权的行为项目
	var expellActions = {
	"ems_code_type_dm_searchData":urlSearch, 
	"ems_code_type_dm_exportEntities":urlExport, 
	 "ems_parameter_searchData":urlEquipSearch, 
	 "ems_parameter_addEquipData":addEquipFormUrl
	}; //当前用户需要特殊处理的按钮，不在menubar上显示的 

	var today = getToday();
	$(function() {
		getAuthButtons(pageId, gridMenuId, authActions, expellActions);
		loadDatagrid();
	});
	/*说明：doAction('ems_mdm_lifnr_list','ems_mdm_lifnr_updateData','actions/mdm_lifnr/updateData.do')
	pageId来自html页面中定义的pageId,buttonId也来自于数据库中对应动作的resource_id
	actionUrl来自数据库cip_admin_resource表中sys_uri
	 */
	function doAction(pageId, buttonId, actionUrl) {
		debugger;
		if (authActions.hasOwnProperty(buttonId)) {
			if (buttonId.indexOf('updateData') > 0) {
				updateData(buttonId, appId + actionUrl);
			} else if (buttonId.indexOf('deleteData') > 0) {
				deleteData(buttonId, appId + actionUrl);
			} else if (buttonId.indexOf('getData') > 0) {
				getData(buttonId, appId + actionUrl);
			} else if (buttonId.indexOf('searchData') > 0) {
				searchData(buttonId, appId + actionUrl);
			} else if (buttonId.indexOf('refresh') > 0) {
				refresh(buttonId, appId + actionUrl);
			}
			/*<a id="ems_parameter_addEquipData" href="#" onclick="doAction('ems_code_type_dm_list','ems_parameter_addData','/actions/parameter/addData.do')" class="easyui-linkbutton l-btn l-btn-small l-btn-plain" iconcls="icon-edit" plain="true" group=""><span class="l-btn-left l-btn-icon-left">  */
			else if (buttonId.indexOf('addEquipData') > 0) {
				addEquip(buttonId, appId + actionUrl);
			} else {
				//默认操作
				var selectRow = $$.getSingleSelectRow(listId, "请选择你要操作的"
						+ objectName);

				if (selectRow) {
					var tempUrl = '';
					tempUrl = tempUrl + '&equip_id=' + selectRow.equip_id;
					tempUrl += "&actionUrl=" + appId + actionUrl + "&tableId="
							+ listId + "&refActionId=" + buttonId;
					$$.openJcdfDialog(urlActionForm + tempUrl, '操作'
							+ objectName, 500, 600);
				}
			}
		} else {
			alert('当前用户没有该操作授权!');
		}
	};
	function refresh(buttonId, actionUrl) {
		$.ajax({
			type : "POST",
			url : actionUrl + "?actionId=" + buttonId,
			dataType : "json",
			success : function(data) {
				$$.closeProcessingDialog();
				if (data && data.errorCode == 0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
				} else {
					$$.showJcdfMessager('提示消息', data.msg, 'warning');
				}
			}
		});
	};
	function searchData(buttonId, actionUrl) {
		var params = $$.serializeToJson(formSearchTemplate);
		var json = {
			"search_condition" : JSON.stringify(params)
		};
		$(listTemplate).datagrid('load', json);
	};

	function exportExcel(buttonId, actionUrl) {
		var params = $$.serializeToJson(formSearchTemplate);
		$('#' + searchFormId).form('submit', {
			url : actionUrl,
			onSubmit : function(param) {
				param.search_condition = JSON.stringify(params)
			},
			success : function(data) {
				var oData = JSON.parse(data);
				if (oData && oData.errorCode) {
					$$.showJcdfMessager('提示消息', oData.msg, 'warning');
				}
			}
		});
	};

	function searchReset() {
		$(formSearchTemplate).form('reset');
	};

	function addData(buttonId, actionUrl) {
		$$.openJcdfDialog(addFormUrl + "&actionUrl=" + actionUrl + "&tableId="
				+ listId + "&refActionId=" + buttonId, '新增' + objectName, 500,
				600);
	};
	//对设备类型添加具体的设备
	function addEquip(buttonId, actionUrl) {
		var selectRow = $$.getSingleSelectRow(listId, "请选择需要被添加的" + objectName);
		if (selectRow) {
			//addEquipFormUrl指定了要打開的頁面
			var tempUrl = '';
			tempUrl += "&actionUrl=" + actionUrl + "&refActionId=" + buttonId;
			/* $$.openJcdfDialog(addFormUrl+"&actionUrl="+actionUrl+"&tableId="+listId+"&refActionId="+buttonId, '新增'+objectName, 500, 600); */
			tempUrl = tempUrl + '&equip_type=' + selectRow.typ_type_name
					+ '&typ_type=' + selectRow.typ_type;
			$$.openJcdfDialog(addEquipFormUrl + tempUrl, "添加设备", 500, 600);
		}
	}
	function getData(buttonId, actionUrl) {
		var selectRow = $$.getSingleSelectRow(listId, "请选择你要查看的" + objectName);

		if (selectRow) {
			var tempUrl = '';
			tempUrl = tempUrl + "&equip_id=" + selectRow.equip_id;
			tempUrl += "&actionUrl=" + actionUrl + "&tableId=" + listId
					+ "&refActionId=" + buttonId;
			$$
					.openJcdfDialog(getFormUrl + tempUrl, '查看' + objectName,
							500, 600);
		}
	};
	function deleteData(buttonId, actionUrl) {
		var selectRow = $$.getSingleSelectRow(listId, "请选择你要删除的" + objectName);
		if (selectRow) {
			$$.showJcdfConfirm("确认", "确定删除所选的" + objectName + "?",
					"deleteNodeById('" + buttonId + "','" + actionUrl + "','"
							+ selectRow.equip_id + "')");
		}
	};

	function deleteNodeById(buttonId, actionUrl, equip_id) {
		$$.openProcessingDialog();
		var jsonData = {
			"equip_id" : equip_id
		};
		$.ajax({
			type : "POST",
			url : actionUrl + "?actionId=" + buttonId,
			dataType : "json",
			data : JSON.stringify(jsonData),
			contentType : "application/json",
			success : function(data) {
				$$.closeProcessingDialog();
				if (data && data.errorCode == 0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
					$$.refreshJcdfDatagrid(listId);
				} else {
					$$.showJcdfMessager('提示消息', data.msg, 'warning');
				}
			}
		});
	};
	/*说明：doAction('ems_mdm_lifnr_list','ems_mdm_lifnr_updateData','actions/mdm_lifnr/updateData.do')
	pageId来自html页面中定义的pageId,buttonId也来自于数据库中对应动作的resource_id
	actionUrl来自数据库cip_admin_resource表中sys_uri
	 */
	function updateData(buttonId, actionUrl) {
		var selectRow = $$.getSingleSelectRow(listId, "请选择你要编辑的" + objectName);
		if (selectRow) {
			var tempUrl = '';
			tempUrl = tempUrl + '&equip_id=' + selectRow.equip_id;
			tempUrl += "&actionUrl=" + actionUrl + "&tableId=" + listId
					+ "&refActionId=" + buttonId;
			$$.openJcdfDialog(updateFormUrl + tempUrl, '编辑' + objectName, 500,
					600);
		}
	};
	/**
	 * 页面加载时初始化datagrid列表并加载列表数据进行显示
	 */
	function loadDatagrid() {
		debugger;
		$(listTemplate).datagrid({
			title : objectName + '列表',
			height : $$.getDatagridHeight(),
			width : $$.getDatagridWidth(),
			border : true,
			nowrap : true,
			striped : true,
			fitColumns : true,
			url : urlSearch,
			idField : '',
			columns : [ [ {
				field : 'equip_id',
				title : '设备编号',
				width : $$.fillsize(0.1),
				align : 'center'
			}, {
				field : 'equip_name',
				title : '设备名称',
				width : $$.fillsize(0.1),
				align : 'center'
			}, {
				field : 'equip_description',
				title : '设备描述',
				width : $$.fillsize(0.1),
				align : 'center'
			},
			/* {field:'equip_type',title:'设备类型',width:$$.fillsize(0.1),align:'center'}, */
			{
				field : 'equip_type_name',
				title : '设备类型',
				width : $$.fillsize(0.1),
				align : 'center'
			},
			/* {
				field : 'org_id',
				title : '分拨编号',
				width : $$.fillsize(0.1),
				align : 'center'
			}, */
			{
				field : 'org_id_name',
				title : '所属分拨',
				width : $$.fillsize(0.1),
				align : 'center'
			},
			/* 	{field:'sup_code',title:'供应商',width:$$.fillsize(0.1),align:'center'}, */
			{
				field : 'sup_code_name',
				title : '供应商',
				width : $$.fillsize(0.1),
				align : 'center'
			}, {
				field : 'operator',
				title : '修改者',
				width : $$.fillsize(0.1),
				align : 'center'
			}, {
				field : 'op_time',
				title : '修改日期',
				width : $$.fillsize(0.1),
				align : 'center'
			}, {
				field : 'equip_status_name',
				title : '当前状态',
				width : $$.fillsize(0.1),
				align : 'center',
				styler : function(value, row, index) {
					if (value == '使用中') {
						return 'color:red';
					}
				}
			}, ] ],
			onBeforeLoad : function() {
				$$.clearSelect(listId);
			},
			queryParams : $$.serializeToJson(searchFormId),
			pagination : true,
			rownumbers : true,
			singleSelect : true,
			pageSize : $$.pageSize,
			pageList : $$.pageList,
			toolbar : gridMenuId,
			loadFilter : function(data) {
				if (data != null && data.errorCode > 0) {
					if (data.msg != null && data.msg != "") {
						$$.showJcdfMessager('提示消息', data.msg, 'warning');
					}
				}
				return data;
			}
		});
	}
</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north', split:false, border:false"
		style="padding: 4px 0;">
		<fieldset style="padding: 5px; border: 1px solid #d4a375;">
			<legend>信息查询</legend>
			<form id="em_parameter_searchForm" class="search-form" method="post">
				<table cellpadding="2" style="width: 100%">
					<tr>
						<td align="right">设备编号：</td>
						<td><input type="text" id="equip_id" name="equip_id"
							style="width:70%;" class="easyui-combobox"
							data-options="onShowPanel:function (){loadCombobox('equip_id','equip_id')}" />

						</td>
					<tr>
						<td colspan="8" align="center"><a class="easyui-linkbutton"
							iconCls="icon-search" style="margin-right: 20px;"
							onclick="searchData('ems_code_type_dm_searchData',urlSearch)">查询</a>
							<a class="easyui-linkbutton" iconCls="icon-reload"
							style="margin-right: 20px;" onclick="searchReset()">重置</a> <a
							class="easyui-linkbutton" iconCls="icon-download"
							style="margin-right: 20px;"
							onclick="exportExcel('ems_code_type_dm_exportEntities',urlExport)">导出</a>
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
	<div data-options="region:'center', split:false, border:false"
		style="padding: 0 2px;">
		<div id="em_parameter_menu">
			<div style="padding: 5px;">
				<!--		<a id="button_add" href="#" onclick="addData()" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
				<a id="button_edit" href="#" onclick="editData()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑</a>
				<a id="button_delete" href="#" onclick="delateData()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a> -->
			</div>
		</div>
		<table id="em_parameter_list" fit="true"></table>
	</div>
</body>
</html>