<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="../../js/jquery-easyui/themes/orange/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../../js/jquery-easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="../../css/common.css" />
<script type="text/javascript"
	src="../../js/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/validate.js"></script>
<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
<script type="text/javascript" src="../../js/combobox.js"></script>
<script type="text/javascript">
	//pageId规定也页面名称相同
	var pageId = 'ems_parameter_form';
	var appId = '/ydems';
	var actionUrl;
	var actionId;
	var tableId;
	var mode = "";
	var callUrl;
	//获取"使用状态URL"
	var getUrl = "/ydems/actions/parameter/getData.do?actionId=ems_parameter_getData";
	var formTemplate = "#form_em_code_equip";
	var listId = "em_code_type_dm_list";
	var ddicUrl = "/ydems/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=";
	var editHistoryData = null;
    var loadMdmUrl = "/ydems/actions/mdm_lifnr/searchData.do?actionId=ems_mdm_lifnr_searchData";
    //加载设备类型url
    var urlEquipTypeSearch = "/ydems/actions/code_type_dm/searchData.do?actionId=ems_code_type_dm_searchData";
	var loadOrgUrl = "/ydems/actions/mdm_orgeh/searchData.do?actionId=ems_mdm_orgeh_searchData";
	var urlResource = "/ydems/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
	var urlActionForm = ""; //action form url
	var authActions = {}; //当前用户授权的行为项目
	var expellActions = {};

	$(function() {
		init();
		//保存按钮单击事件
		$("#btn_save").bind("click", function() {
			submitData();
		});
		//取消按钮单击事件
		$("#btn_cancel").bind("click", function() {
			$$.closeJcdfDialog();
		});
	});

	function getQueryString(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
		var r = window.location.search.substr(1).match(reg);
		if (r != null)
			return unescape(r[2]);
		return null;
	}

	function init() {
		debugger;
		sup_code_id = "sup_code";
		equip_type_id="equip_type";
		org_id_id = "org_id";
		equip_status_id = "equip_status";
		equip_id = $$.QueryString("equip_id");
		typ_type = $$.QueryString("typ_type");//设备类型编码
		actionUrl = $$.QueryString("actionUrl");
		tableId = $$.QueryString("tableId");
		equip_type = $$.QueryString("equip_type");
		equip_type_value = decodeURI(equip_type);
		mode = $$.QueryString("mode");
		actionId = $$.QueryString("refActionId");
		callUrl =  actionUrl + "?actionId=" + actionId;
	   /*加载供应商名称列表  */
	   load_Mdm_NameData(loadMdmUrl,sup_code_id);
	   /*加载设备类型列表  */
	   loadEquipTypeData(urlEquipTypeSearch,equip_type_id);
	   /* 加载设备状态列表 */
	   loadCombobox(ddicUrl,equip_status_id,'equip_status');
	   /*加载分拨列表*/
	   load_Orgn_NameData(loadOrgUrl,org_id_id);
		if (mode == "edit") {
		   loadEditData();
		} else if (mode == "display") {
			loadEditData();
			$('#btn_save').attr({
				"disabled" : "disabled"
			});
		} else if (mode == "addEquip") {
			/* var equip_type = $("#equip_type").val();
			if(equip_type=="")
			{
			 $("#equip_type").combobox("setValue",equip_type_value);
			} */			
		}
	};
    
	/**
	 * 加载历史数据，用于修改
	 */
	function loadEditData() {
		$$.openProcessingDialog();
		var jsonData = {
			"equip_id" : equip_id
		};
		$.ajax({
			type : "POST",
			url : getUrl,
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(jsonData),
			success : function(oData) {
				$$.closeProcessingDialog();
				if (oData != null && oData.errorCode == 0) {
					editHistoryData = oData.data;
					//填充修改记录的历史数据
					$(formTemplate).form('load', editHistoryData);
				} else {
					$$.showJcdfMessager('提示消息', oData.msg, 'warning');
				}
			}
		});
	}
	/*加载设备类型列表：Url是请求的路径，id是对应的显示标签id*/
	function loadEquipTypeData(Url,id) {
		$.ajax({
			type : "POST",
			url : Url,
			dataType : "json",
			contentType : "application/json",
			success: function (jsonData) {
          editHistoryData = jsonData.rows;
          var dataObj = [];
            for(var i=0;i<editHistoryData.length;i++)
            {
             var value1=editHistoryData[i].typ_type;
             var text1=editHistoryData[i].typ_type_name;
             dataObj.push({value:value1,text:text1});
            } 
            $("#"+id).combobox({
             	valueField: 'value',
             	textField: 'text',
				data:dataObj
				});
         }
		});
	}
	function submitData() {
		if (!$(formTemplate).form('validate')) {
			return false;
		}
	 	var jsonData = $$.serializeToJson(formTemplate);
		if (!jsonData)
			return false;
		//如果数据验证通过(即数据合法)
		$$.openProcessingDialog();
		//ajax提交数据
		$.ajax({
			type : "POST",
			url : callUrl,
			dataType : "json",
			data : JSON.stringify(jsonData),
			contentType : "application/json",
			success : function(data) {
				 $$.closeProcessingDialog();
				if (data && data.errorCode == 0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
					$$.closeJcdfDialog();
					$$.refreshJcdfDatagrid(tableId);
				} else {
					$$.showJcdfMessager('提示消息', data.msg + '(' + data.errorCode
							+ ')', 'warning');
				} 
			}
		});
	};
</script>
</head>
<body>
	<form id="form_em_code_equip" class="form">
	<!-- <input  type="hidden" id="typ_type" name="typ_type"/> -->
		<table>
		     <tr>
				<td class="right"><label for="">设备编号:</label></td>
				<td class="left"><input type="text" id="equip_id"
					name="equip_id" style="width:70%;" class="easyui-validateBox"
					data-options="required:true" /></td>
			</tr>
			<tr>
				<td class="right"><label for="">设备名称:</label></td>
				<td class="left"><input type="text" id="equip_name"
					name="equip_name" style="width:70%;" class="easyui-validateBox"
					data-options="required:false" /></td>
			</tr>
			<tr>
				<td class="right"><label for="">设备类型:</label></td>
				<td class="left"><input type="text" id="equip_type"
					name="equip_type" style="width:70%;"
					data-options="required:true" class="easyui-combobox"/></td>
			</tr>
			<tr>
				<td class="right"><label for="">所属分拨:</label></td>
				<td class="left"><input type="text" id="org_id"
					name="org_id" style="width:70%;"
					data-options="required:true" class="easyui-combobox"/></td>
			</tr>
			<tr>
				<td class="right"><label for="">供应商:</label></td>
				<td class="left"><input type="text" id="sup_code"
					name="sup_code" style="width:70%;" class="easyui-combobox"
					data-options="required:false" /></td>
			</tr>
			<tr>
				<td class="right"><label for="remark">设备描述:</label></td>
				<td class="left"><input type="text" id="equip_description"
					name="equip_description" style="width:70%;"
					class="easyui-validateBox" data-options="required:false" /></td>
			</tr>
			<tr>
				<td class="right"><label for="remark">设备状态:</label></td>
				<td class="left"><input type="text" id="equip_status"
					name="equip_status" style="width:70%;"
					class="easyui-combobox" data-options="required:false" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center" style="padding: 20px;"><a
					id="btn_save" href="#" class="easyui-linkbutton" iconCls="icon-ok">确定</a>
					<a id="btn_cancel" href="#" class="easyui-linkbutton"
					iconCls="icon-cancel">取消</a></td>
			</tr>
		</table>
	</form>
</body>
</html>