<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/orange/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../js/validate.js"></script>
	<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
	<script type="text/javascript" src="../../js/combobox.js"></script>
	<script type="text/javascript">
		var id_check_are="";
	var id_check_beg_time="";
	var id_check_end_time="";
	var id_check_org="";
	var pageId = 'ems_check_log_form';
	var appId = '/ydems';
	var actionUrl;
	var actionId;
	var tableId;
	var mode = "";
	var callUrl;
	var getUrl = "/ydems/actions/check_log/getData.do?actionId=ems_check_log_getData";
	var formTemplate = "#form_em_check_log";
	var listId = "em_check_log_list";
	var ddicUrl = '/ydems/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
	var editHistoryData = null;
	var loadOrgUrl = "/ydems/actions/mdm_orgeh/searchData.do?actionId=ems_mdm_orgeh_searchData";
	var urlResource = "/ydems/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
	var urlActionForm = ""; //action form url
	var authActions = {}; //当前用户授权的行为项目
	var expellActions = {};
	
	
	$(function(){
		init();
		//保存按钮单击事件
		$("#btn_save").bind("click", function() {
			submitData();
		});
		//取消按钮单击事件
		$("#btn_cancel").bind("click", function(){
			$$.closeJcdfDialog();
		});
	});

	function init(){
	    check_org_id = "check_org";
		id_check_are=$$.QueryString("check_are");
		id_check_beg_time=$$.QueryString("check_beg_time");
		id_check_end_time=$$.QueryString("check_end_time");
		id_check_org=$$.QueryString("check_org");
		actionUrl = $$.QueryString("actionUrl");
		tableId = $$.QueryString("tableId");
		mode = $$.QueryString("mode");
		actionId = $$.QueryString("refActionId");
		  /* 加载组织机构列表 */
		load_Orgn_NameData(loadOrgUrl,check_org_id);
		callUrl = actionUrl+"?actionId="+actionId;
		if(mode=="edit"){
			loadEditData();
			$('#check_are').attr({editable:false});
			$('#check_beg_time').attr({editable:false});
			$('#check_end_time').attr({editable:false});
			$('#check_org').attr({editable:false});
		}else if(mode=="display"){
			loadEditData();
			$('#btn_save').attr({ "disabled": "disabled" });
		}
		else if( mode == "add" ){
			 $('#check_beg_time').datetimebox('setValue', getTimeStamp());
             $('#check_end_time').datetimebox('setValue', getTimeStamp());

			
		}

	};
	
	
	/**
	 * 加载历史数据，用于修改
	 */
	function loadEditData(){
		$$.openProcessingDialog();
		var jsonData = {
		"check_are":id_check_are,
		"check_beg_time":id_check_beg_time,
		"check_end_time":id_check_end_time,
		"check_org":id_check_org
		};
		$.ajax({
		   type: "POST",
		   url: getUrl,
		   dataType:"json",
		   contentType: "application/json",
		   data: JSON.stringify(jsonData),
		   success: function(oData){
		   	 	$$.closeProcessingDialog();
				if (oData!=null && oData.errorCode == 0) {
					editHistoryData = oData.data;
					//填充修改记录的历史数据
					$(formTemplate).form('load', editHistoryData);					
				} else {
		 			$$.showJcdfMessager('提示消息',oData.msg,'warning');
				}
		   }
		});
	}
	
	function submitData(){
		if (!$(formTemplate).form('validate')) {
			return false;
		}
		var jsonData = $$.serializeToJson(formTemplate);
		if(!jsonData) return false;
		//如果数据验证通过(即数据合法)
		$$.openProcessingDialog();
	
		//ajax提交数据
		$.ajax({
			type : "POST",
			url : callUrl,
			dataType : "json",
			data : JSON.stringify(jsonData),
			contentType: "application/json",
			success : function(data) {
				$$.closeProcessingDialog();
				if (data && data.errorCode==0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
					$$.closeJcdfDialog();
					$$.refreshJcdfDatagrid(tableId);
				} else {
					$$.showJcdfMessager('提示消息', data.msg+'('+data.errorCode+')', 'warning');
				}
			}
		});
	};
	</script>
</head>
<body>
	<form id="form_em_check_log" class="form">
		<table>
		<tr>
				<td class="right">
					<label for="check_no">巡检流水号:</label>
				</td>
				<td class="left">
					<input type="text" id="check_no" name="check_no" style="width:70%;" class="easyui-numberbox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="">巡检区域:</label>
				</td>
				<td class="left">
					<input type="text" id="check_are" name="check_are" style="width:70%;" class="easyui-validateBox" 
						data-options="required:true" /> 

				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="">巡检开始时间:</label>
				</td>
				<td class="left">
					<input type="text" id="check_beg_time" name="check_beg_time" style="width:70%;" class="easyui-datetimebox" 
						data-options="required:true" /> 

				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="">巡检结束时间:</label>
				</td>
				<td class="left">
					<input type="text" id="check_end_time" name="check_end_time" style="width:70%;" class="easyui-datetimebox" 
						data-options="required:true" /> 

				</td>
			</tr>
			<tr>
				<td class="right">
					<label for="">分拨中心:</label>
				</td>
				<td class="left">
					<input type="text" id="check_org" name="check_org" style="width:70%;" class="easyui-combobox" 
						data-options="required:true" /> 

				</td>
			</tr>
		
			<tr>
				<td class="right">
					<label for="check_op">巡检人工号:</label>
				</td>
				<td class="left">
					<input type="text" id="check_op" name="check_op" style="width:70%;" class="easyui-numberbox" 
						data-options="required:false"  /> 
											
				</td>
			</tr>
		
			<tr>
				<td colspan="2" align="center" style="padding: 20px;">
					<a id="btn_save" href="#" class="easyui-linkbutton" iconCls="icon-ok">确定</a>
					<a id="btn_cancel" href="#" class="easyui-linkbutton" iconCls="icon-cancel">取消</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>